.honor-displayer {
  width: 100vw;
  height: 100vh;
  background: transparent;
  backdrop-filter: blur(25px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

